Django==6.0.6
djangorestframework==3.16.0
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.6.0
django-filter==24.3
python-decouple==3.8
dj-database-url==2.3.0
psycopg[binary]==3.2.3
whitenoise==6.8.2
gunicorn==23.0.0
Pillow==11.0.0
